
#content {
    margin-top: 110px;
}
.check-in-body form {
    border: 1px solid #ddd;
    padding: 15px 20px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;
}
.check-in-body form .button-submit {
    margin-top: 15px;
    text-align: right;
}

#pname, #pidcard, #pphone, #paddress {
    color: red;
}

#formb {
    padding: 0 15px;
    margin-bottom: 20px;
}
#formb .room-info {
    border-radius: 3px;
    background-color: #eee;
    padding: 15px;
}
#formb ul li {
    list-style-type: none;
    padding: 8px 0 8px 20px;

}

footer {
    height: 80px;
    width: 100%;;
    background-color: #1F6F43;
    bottom: 0;
    text-align: center;
}
footer p {
    color: #fff;
    line-height: 80px;
}