* {
    margin: 0;
    padding: 0;
    color: #666;
}

/* index.html */
#header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;

}
#header .container-fluid {
    display: flex;
    height: 70px;
    align-items: center;
    /* padding: 0; */
}
#header #toogle-menu {
    border: 1px solid #ddd;
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
#header #toogle-menu:hover {
    opacity: 0.8;
}
#header #toogle-menu img {
    width: 26px;
}
#header #logo {
    /* width: 50px; */
}
#header #logo img {
    max-width: 150px;
    width: 100%;
    position: relative;
    top: 35px;
    z-index: 3;
    /* position: fixed; */
    
} 
#header nav {
    flex: 5;
    position: relative;
    top: 5px;
}
#header nav a {
    color: #ddd;
    font-size: 16px;
    font-weight: bold;
}
#header nav a:hover, #header nav a.active {
    border-bottom: 2px solid #ddd;
}

#header #profile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
#header #profile img {
    width: 35px;
    height: 35px;
}
#header #profile p {
    color: #fff;
} 
#menu-md {
    position: fixed;
    top: 72px;
    width: 100%;
    z-index: 2;
    display: none;
}
#menu-md a {
    font-weight: 500;
    padding-left: 15px;
    font-size: 15px;
}
#menu-md img {
    width: 28px;
    margin-right: 15px;

}
#content .label {
    display: flex;
    align-items: center;
    width: 100%;;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bbb;
    display: none;
}
#content .label img {
    margin-right: 10px;
    
}
/* Header respone */
@media only screen and (max-width: 768px) {
    .hide-md {
        display: none;
    }
    #header #toogle-menu {
        display: block;
    }

    #content .label {
        display: inline-flex;
    }
    
}
