
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    font-size: 30px;
    color: #fff;
}
.navbar a.nav-link {
    color: #fff;
    padding: 10px 30px 10px 0 !important;
}
.navbar button.navbar-toggler {
    border: 1px solid #fff;
}
#showcase {
    background-image: url("../images/room-type/luxuery/luxury2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 35vw;
    min-height: 300px;
    width: 100%;
    background-color: #eee;
    overflow: hidden;
}
#showcase .showcase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
#showcase h3 {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 8px 15px;
    color: #fafafa;
    border-radius: 3px;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main h3 {
    margin-bottom: 15px;
}


#main .card {
    margin-bottom: 20px;
}
#main .card ul li {
    list-style: none;
    padding: 5px 0;
    line-height: 1.8;
}
#main .card a {
    margin-top: 10px;
}
#main .galery {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

footer {
    background-color: #eee;
    height: 150px;
}

footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}
footer .contact form {
    display: flex;
    justify-content: center;
    margin-top: 20px;;
}
footer .contact form input {
    height: 40px;
    width: 100%;
    max-width: 450px;
    border: 1px solid #ddd;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
    
}
footer .contact form button {
    padding: 0 15px;
    background-color: #ddd;
    border-radius: 0 3px 3px 0;
    border: 1px solid #ddd;
    
}


@media (min-width: 576px) {

    #main .box-img {
        flex-basis: 50%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main .box-img {
        flex-basis: 33%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main .box-img {
        flex-basis: 25%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #main .box-img {
        flex-basis: 25%;
    }
}