* {
    margin: 0;
    padding: 0;
}



#message {
    background-color: rgb(103, 216, 154);
    width: 100%;
    max-width: 400px;
    padding: 20px 20px 10px;
    color: #ffffff;
    position: relative;
    font-size: 17px;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
    float: right;
    margin-top: 20px;;
}

#message #close-message {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.box-logo {
    clear: both;

}
.box-logo h5 {
    color: #666666;
    font-size: 22px;
    font-weight: bold;
}

.box-logo img.logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.box-sign-in .sign-in {
    width: 25px;
}

#content .form-container {
    width: 100%;
    max-width: 500px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    background-color: #eee;
    border-radius: 3px;
}
#content .frm-control {
    display: flex;
    margin-bottom: 15px;
}
#content .frm-control .box-icon {
    padding: 0px 15px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    border-radius: 0 3px 3px 0;
}
.box-icon img {
    width: 20px;
}
.form-container input[type="text"], .form-container input[type="password"] {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
    outline: 0;
    color: #666;
}
.form-container input[type="button"] {
    float: right;
    padding: 5px 15px;
    background-color: #ddd;
    color: #666666;
    border-radius: 3px;
    border: 1px solid #ccc;;
}

footer {
    background-color: #1F6F43;
    height: 80px;
    /* position: absolute; */
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
}
