
/* Content-section */
#content #title {
    display: flex;
    border-bottom: 2px solid #1F6F43;
    padding: 6px 0;
    justify-content: center;
}
#content #title img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
#content #title p {
    position: relative;
    top: 5px;
    font-weight: bold;
}

/* Content Main */
#content .box-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

#content .box {
    height: 160px;
    flex-basis: 130px;
    background-color: rgb(79, 202, 134);
    margin: 15px 10px;
    border-radius: 3px;
    position: relative;
    transition: .3s;
    
}
#content .box.not-available {
    background-color:#ffbb33;
}
#content .box.cleaning {
    background-color:#33b5e5;
}
#content .box.problem {
    background-color: rgb(219, 101, 101);
}
#content .box:hover {
    box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#content .box .hover-box {
    display: none;
}

#content .box .box-top {
    display: flex;
    padding-top: 12px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#content .box .box-top img {
    margin-bottom: 6px;
}
#content .box .box-bottom {
    height: 35px;
    padding-top: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
}
#content .box h6 {
    color: #fff;
    font-size: 15px;
}

#content .room-info {
    margin-top: 15px;
}
@media (min-width: 576px) {

    .room-desc {
        margin-top: 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .room-desc {
        margin-top: 0;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}


/* Form checking */
.form-checkin-body {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 3px;

}

.room-desc {
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 3px;
}
.room-desc ul li{
    list-style: none;
    padding: 5px 3px;
    font-size: 15px;
}